.footer {
	display: inline-block;
	position: absolute;
	overflow: hidden;
	bottom: 0;
	left: 0;

	width: 100%;
	height: auto;
}


.nav.second-navbar a,
.nav.first-navbar h1,
.offcanvas .offcanvas-header .offcanvas-title,
.offcanvas .offcanvas-body a {
	display: flex;
	align-items: center !important;
	text-align: left !important;
}

.nav.third-navbar .nav-item > button {
	background: transparent !important;
	align-items: center !important;
	display: flex !important;
	text-align: center !important;
	border: 0;
}

.subnavbar .breadcrumb .breadcrumb-item {
	background-color: rgba(0,0,0,0.05) !important;
	margin-right: 0.5rem !important;
	margin-bottom: 0.45rem !important;
	padding: 0.5rem !important;
	border-radius: 9px !important;
}

.subnavbar .breadcrumb .breadcrumb-item a {
	display: flex;
	text-align: center !important;
	justify-content: center !important;
	align-items: center !important;
	text-decoration: none !important;
}

#footer .row {
	margin-left: 0 !important;
	margin-right: 0 !important;
}

#footer .col {
	padding-left: 0 !important;
	padding-right: 0 !important;
	padding-top: 2.35rem !important;
	padding-bottom: 2.35rem !important;
}

#footer .col:nth-of-type(2) {
	padding-right: 2.75rem !important;
}

#footer .list-group.first .list-group-item {
	background-color: transparent !important;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

#footer .row .list-group {
	border-radius: 0 !important;
}